html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Rubik', sans-serif;
    flex: 1;
    justify-content: space-between;
    background-color: #f4f4f9;

}

.header {
    align-self: top;
    background-color: lightgray;
    color: white;
    text-align: center;
    

}


.calculator {

    align-self: center;                                                                       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    width: 300px;
    height: auto;
    border: black 2px solid;
    flex-shrink: 1;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
                                             
.display {
    width: 200px;
    height: 80px;
    background-color: #e0f7da;                                                                          
    border: 1px solid black;
    text-align: right;
    margin: 16px;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
    border: 5px;
    font-family:'Rubik', sans-serif;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.15);
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.operations {   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.15);

}

#backspace, #clear {
    background-color: lightgreen;
}

#backspace:hover, #clear:hover {
    background-color: #b2dfdb;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 13px;
    
}

#me {
    margin-right: 20px;
    margin-left: 20px;
}


#equals, .operator {
    background-color: darkslategray

}

#equals:hover, .operator:hover {
    background-color: #b2dfdb;
    cursor: pointer;
}

.footer {
    
    text-align: center;
}

button:hover {
    background-color: #b2dfdb;
    cursor: pointer;
}

.header h1,
.footer h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}